*{
    background-color: #16141c;
    font-family: 'Neo Gen', sans-serif;
}
form{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
label{
    width: 211px;
    height: 34px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #ffff;
    margin-top: 30px;
    margin-left: 10px;
}
input{
    box-sizing: border-box;
    width: 326px;
    height: 35px;
    background: #6d4aff;
    border: 1 solid #000000;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    border-radius: 15px;
    transition: all 0.05s;
    padding-left: 5%;
    color :white;
}
input:focus{
    outline: none;
    box-shadow: 0p 0px 15px #ffff;
}
button{
    display: flex;
    border: transparent;
    background: transparent;
}
